# Basic Data Science Statistics — Lecture notebook

Objectives:
- Load a dataset (or generate a small sample) into a pandas DataFrame
- Inspect the data (head, info, describe)
- Compute min, max, mean, median, std
- Filter the DataFrame into sub-dataframes
- Aggregate with groupby
- Create and use an automatic summary function

In [2]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

## 1) Load a dataset

In [22]:
df = pd.read_csv('work/introduction_to_data_science/data/formula-1-race-data/results.csv')
df.shape

(23777, 18)

In [23]:
print('\nDataFrame info:')
print(df.info())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23777 entries, 0 to 23776
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         23777 non-null  int64
 1   raceId           23777 non-null  int64
 2   driverId         23777 non-null  int64
 3   constructorId    23777 non-null  int64
 4   number           23771 non-null  float64
 5   grid             23777 non-null  int64
 6   position         13227 non-null  float64
 7   positionText     23777 non-null  object
 8   positionOrder    23777 non-null  int64
 9   points           23777 non-null  float64
 10  laps             23777 non-null  int64
 11  time             6004 non-null   object
 12  milliseconds     6003 non-null   float64
 13  fastestLap       5383 non-null   float64
 14  rank             5531 non-null   float64
 15  fastestLapTime   5383 non-null   object
 16  fastestLapSpeed  5383 non-null   object
 17  statusId         23777 non-null  int64
dtypes: float64(6), int64(8), object(4)
memory usage: 3.3+ MB
None

In [24]:
print('\nDescriptive statistics:')
display(df.describe(include='all'))

Descriptive statistics:

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
count,23777.000000,23777.000000,23777.000000,23777.000000,23771.000000,23777.000000,13227.000000,23777,23777.000000,23777.000000,23777.000000,6004,6.003000e+03,5383.000000,5531.000000,5383,5383,23777.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,NaN,NaN,NaN,5758,NaN,NaN,NaN,551,5144,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN,NaN,NaN,+8:22.19,NaN,NaN,NaN,01:17.2,220.611,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8517,NaN,NaN,NaN,5,NaN,NaN,NaN,28,3,NaN
mean,11889.481053,487.203937,226.515961,46.281785,16.965462,11.270303,7.782264,NaN,13.081591,1.601403,45.270598,NaN,6.303313e+06,41.061676,10.598807,NaN,NaN,18.242293
std,6864.691322,269.904857,231.386102,56.174091,13.644798,7.346436,4.745105,NaN,7.824711,3.665154,30.525404,NaN,1.721748e+06,17.156435,6.272457,NaN,NaN,26.380824
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,NaN,1.000000,0.000000,0.000000,NaN,1.474899e+06,2.000000,0.000000,NaN,NaN,1.000000
25%,5945.000000,273.000000,55.000000,6.000000,7.000000,5.000000,4.000000,NaN,7.000000,0.000000,20.000000,NaN,5.442948e+06,29.000000,5.000000,NaN,NaN,1.000000
50%,11889.000000,478.000000,154.000000,25.000000,15.000000,11.000000,7.000000,NaN,13.000000,0.000000,52.000000,NaN,5.859428e+06,44.000000,11.000000,NaN,NaN,11.000000
75%,17833.000000,718.000000,314.000000,57.000000,23.000000,17.000000,11.000000,NaN,19.000000,1.000000,66.000000,NaN,6.495440e+06,53.000000,16.000000,NaN,NaN,16.000000
max,23781.000000,988.000000,843.000000,210.000000,208.000000,34.000000,33.000000,NaN,39.000000,50.000000,200.000000,NaN,1.509054e+07,78.000000,24.000000,NaN,NaN,136.000000

## 2) Inspect the data

Show a few rows, basic info and descriptive statistics

In [25]:
#printing the min and max of the 'position' column
print('Position min:', df['position'].min())
print('Position max:', df['position'].max())

Position min: 1.0
Position max: 33.0

In [26]:
max_position = df['position'].max()
max_position_data = df[df['position'] == max_position]
display(max_position_data[['position', 'raceId', 'driverId', 'constructorId']])

       position  raceId  driverId  constructorId
18144      33.0     748       539            113

In [34]:
constructors_df = pd.read_csv('work/introduction_to_data_science/data/formula-1-race-data/constructors.csv')
constructors_df.shape

(208, 6)

In [35]:
constructor_113 = constructors_df[constructors_df['constructorId'] == 113]
display(constructor_113[['constructorId', 'name', 'nationality']])

     constructorId          name nationality
111            113  Kurtis Kraft    American

Finde heraus wie viele Results es gibt bei denen Kurtis Kraft also constructorId 113 teilgenomen hat was die durchschnittliche Platzierung war und welche Standardabweichung es von der platzierung gab.

In [36]:
# Filter results for Kurtis Kraft (constructorId 113)
kurtis_kraft_results = df[df['constructorId'] == 113]

# Anzahl der Ergebnisse
num_results = kurtis_kraft_results.shape[0]

# Durchschnittliche Platzierung (nur gültige Platzierungen)
mean_position = kurtis_kraft_results['position'].mean()

# Standardabweichung der Platzierung
std_position = kurtis_kraft_results['position'].std()

print(f"Anzahl der Results: {num_results}")
print(f"Durchschnittliche Platzierung: {mean_position:.2f}")
print(f"Standardabweichung der Platzierung: {std_position:.2f}")

Anzahl der Results: 226
Durchschnittliche Platzierung: 10.30
Standardabweichung der Platzierung: 6.39