# Basic Data Science Statistics — Lecture notebook

Objectives:
- Load a dataset (or generate a small sample) into a pandas DataFrame
- Inspect the data (head, info, describe)
- Compute min, max, mean, median, std
- Filter the DataFrame into sub-dataframes
- Aggregate with groupby
- Create and use an automatic summary function

In [42]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

## 1) Load a dataset

In [41]:
path_to_data_folder = os.path.join('work', 'introduction_to_data_science', 'data', 'formula-1-race-data')

In [ ]:
df = pd.read_csv(f'{path_to_data_folder}/results.csv')
df.shape

(23777, 18)

In [23]:
print('\nDataFrame info:')
print(df.info())

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23777 entries, 0 to 23776
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         23777 non-null  int64
 1   raceId           23777 non-null  int64
 2   driverId         23777 non-null  int64
 3   constructorId    23777 non-null  int64
 4   number           23771 non-null  float64
 5   grid             23777 non-null  int64
 6   position         13227 non-null  float64
 7   positionText     23777 non-null  object
 8   positionOrder    23777 non-null  int64
 9   points           23777 non-null  float64
 10  laps             23777 non-null  int64
 11  time             6004 non-null   object
 12  milliseconds     6003 non-null   float64
 13  fastestLap       5383 non-null   float64
 14  rank             5531 non-null   float64
 15  fastestLapTime   5383 non-null   object
 16  fastestLapSpeed  5383 non-null   object
 17  statusId         23777 non-null  int64
dtypes: float64(6), int64(8), object(4)
memory usage: 3.3+ MB
None

In [24]:
print('\nDescriptive statistics:')
display(df.describe(include='all'))

Descriptive statistics:

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
count,23777.000000,23777.000000,23777.000000,23777.000000,23771.000000,23777.000000,13227.000000,23777,23777.000000,23777.000000,23777.000000,6004,6.003000e+03,5383.000000,5531.000000,5383,5383,23777.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,NaN,NaN,NaN,5758,NaN,NaN,NaN,551,5144,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R,NaN,NaN,NaN,+8:22.19,NaN,NaN,NaN,01:17.2,220.611,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8517,NaN,NaN,NaN,5,NaN,NaN,NaN,28,3,NaN
mean,11889.481053,487.203937,226.515961,46.281785,16.965462,11.270303,7.782264,NaN,13.081591,1.601403,45.270598,NaN,6.303313e+06,41.061676,10.598807,NaN,NaN,18.242293
std,6864.691322,269.904857,231.386102,56.174091,13.644798,7.346436,4.745105,NaN,7.824711,3.665154,30.525404,NaN,1.721748e+06,17.156435,6.272457,NaN,NaN,26.380824
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,NaN,1.000000,0.000000,0.000000,NaN,1.474899e+06,2.000000,0.000000,NaN,NaN,1.000000
25%,5945.000000,273.000000,55.000000,6.000000,7.000000,5.000000,4.000000,NaN,7.000000,0.000000,20.000000,NaN,5.442948e+06,29.000000,5.000000,NaN,NaN,1.000000
50%,11889.000000,478.000000,154.000000,25.000000,15.000000,11.000000,7.000000,NaN,13.000000,0.000000,52.000000,NaN,5.859428e+06,44.000000,11.000000,NaN,NaN,11.000000
75%,17833.000000,718.000000,314.000000,57.000000,23.000000,17.000000,11.000000,NaN,19.000000,1.000000,66.000000,NaN,6.495440e+06,53.000000,16.000000,NaN,NaN,16.000000
max,23781.000000,988.000000,843.000000,210.000000,208.000000,34.000000,33.000000,NaN,39.000000,50.000000,200.000000,NaN,1.509054e+07,78.000000,24.000000,NaN,NaN,136.000000

## 2) Inspect the data

Show a few rows, basic info and descriptive statistics

In [25]:
#printing the min and max of the 'position' column
print('Position min:', df['position'].min())
print('Position max:', df['position'].max())

Position min: 1.0
Position max: 33.0

In [26]:
max_position = df['position'].max()
max_position_data = df[df['position'] == max_position]
display(max_position_data[['position', 'raceId', 'driverId', 'constructorId']])

       position  raceId  driverId  constructorId
18144      33.0     748       539            113

In [34]:
constructors_df = pd.read_csv(f'{path_to_data_folder}/constructors.csv')
constructors_df.shape

(208, 6)

In [35]:
constructor_113 = constructors_df[constructors_df['constructorId'] == 113]
display(constructor_113[['constructorId', 'name', 'nationality']])

     constructorId          name nationality
111            113  Kurtis Kraft    American

Finde heraus wie viele Results es gibt bei denen Kurtis Kraft also constructorId 113 teilgenomen hat was die durchschnittliche Platzierung war und welche Standardabweichung es von der platzierung gab.

In [36]:
# Filter results for Kurtis Kraft (constructorId 113)
kurtis_kraft_results = df[df['constructorId'] == 113]

# Anzahl der Ergebnisse
num_results = kurtis_kraft_results.shape[0]

# Durchschnittliche Platzierung (nur gültige Platzierungen)
mean_position = kurtis_kraft_results['position'].mean()

# Standardabweichung der Platzierung
std_position = kurtis_kraft_results['position'].std()

print(f"Anzahl der Results: {num_results}")
print(f"Durchschnittliche Platzierung: {mean_position:.2f}")
print(f"Standardabweichung der Platzierung: {std_position:.2f}")

Anzahl der Results: 226
Durchschnittliche Platzierung: 10.30
Standardabweichung der Platzierung: 6.39

Finde heraus wie viele Punkte das Team insgesamt geholt hat.

In [37]:
# Gesamtpunkte von Kurtis Kraft (constructorId 113)
total_points = kurtis_kraft_results['points'].sum()
print(f"Gesamtpunkte von Kurtis Kraft: {total_points:.2f}")

Gesamtpunkte von Kurtis Kraft: 130.00

Nun finde heraus was das erste und letzte Rennen war an dem sie teilgenommen haben. 
Erstelle dazu ein neues Dataframe welches alle Rennen behinhaltet und das Datum an dem das rennen war dazu musst du die `races.csv` zusätzlich in ein Dataframe laden.

In [38]:
# Load races data
races_df = pd.read_csv(f'{path_to_data_folder}/races.csv')

# Merge races with Kurtis Kraft results
kurtis_kraft_races = pd.merge(kurtis_kraft_results, races_df, on='raceId')

# Sort by date and get first and last race
first_race = kurtis_kraft_races.sort_values('date').iloc[0]
last_race = kurtis_kraft_races.sort_values('date').iloc[-1]

print("First race:")
print(f"Date: {first_race['date']}")
print(f"Race: {first_race['name']}")
print(f"Circuit: {first_race['circuitId']}\n")

print("Last race:")
print(f"Date: {last_race['date']}")
print(f"Race: {last_race['name']}")
print(f"Circuit: {last_race['circuitId']}")

First race:
Date: 1950-05-30
Race: Indianapolis 500
Circuit: 19

Last race:
Date: 1960-05-30
Race: Indianapolis 500
Circuit: 19

In [39]:
kurtis_kraft_races.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name,date,time_y,url
0,18122,748,516,113,38.0,14,10.0,10,10,0.0,...,NaN,NaN,1,1960,3,19,Indianapolis 500,1960-05-30,NaN,http://en.wikipedia.org/wiki/1960_Indianapolis...
1,18126,748,520,113,48.0,24,14.0,14,14,0.0,...,NaN,NaN,14,1960,3,19,Indianapolis 500,1960-05-30,NaN,http://en.wikipedia.org/wiki/1960_Indianapolis...
2,18129,748,523,113,26.0,19,17.0,17,17,0.0,...,NaN,NaN,8,1960,3,19,Indianapolis 500,1960-05-30,NaN,http://en.wikipedia.org/wiki/1960_Indianapolis...
3,18134,748,528,113,73.0,11,22.0,22,22,0.0,...,NaN,NaN,121,1960,3,19,Indianapolis 500,1960-05-30,NaN,http://en.wikipedia.org/wiki/1960_Indianapolis...
4,18137,748,531,113,5.0,16,25.0,25,25,0.0,...,NaN,NaN,8,1960,3,19,Indianapolis 500,1960-05-30,NaN,http://en.wikipedia.org/wiki/1960_Indianapolis...

In [40]:
from datetime import datetime

# Convert date strings to datetime objects
first_race_date = datetime.strptime(first_race['date'], '%Y-%m-%d')
last_race_date = datetime.strptime(last_race['date'], '%Y-%m-%d')

# Get weekday names
weekdays = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 
           4: 'Friday', 5: 'Saturday', 6: 'Sunday'}

print(f"First race ({first_race['date']}) was on a {weekdays[first_race_date.weekday()]}")
print(f"Last race ({last_race['date']}) was on a {weekdays[last_race_date.weekday()]}")

First race (1950-05-30) was on a Tuesday
Last race (1960-05-30) was on a Monday

Finde über eine Anfrage an eine API heraus wie das Wetter an diesen Tagen war.

In [45]:
import requests

def geocode_place(query, max_retries=2):
    """Use Nominatim to geocode a place name. Returns (lat, lon, display_name) or None."""
    url = "https://nominatim.openstreetmap.org/search"
    headers = {"User-Agent": "JupyterNotebook - OpenStreetMap Nominatim (example)"}  # polite header
    params = {"q": query, "format": "json", "limit": 1}
    for _ in range(max_retries):
        try:
            r = requests.get(url, params=params, headers=headers, timeout=10)
            r.raise_for_status()
            data = r.json()
            if data:
                return float(data[0]["lat"]), float(data[0]["lon"]), data[0].get("display_name", query)
            return None
        except requests.RequestException:
            continue
    return None

def fetch_weather_for_date(lat, lon, date_str):
    """Fetch daily historical weather for a single date from Open-Meteo ERA5 archive."""
    url = "https://archive-api.open-meteo.com/v1/era5"
    params = {
        "latitude": lat,
        "longitude": lon,
        "start_date": date_str,
        "end_date": date_str,
        "daily": "temperature_2m_max,temperature_2m_min,precipitation_sum,windgusts_10m_max,weathercode",
        "timezone": "auto"
    }
    r = requests.get(url, params=params, timeout=20)
    r.raise_for_status()
    return r.json()

def get_weather_for_race(race_series, date_dt):
    """Try to geocode the race location and fetch weather for the given date."""
    race_name = race_series.get("name") if "name" in race_series.index else str(race_series)
    # Try several geocoding queries to improve chances
    queries = [
        f"{race_name} racetrack",
        f"{race_name} circuit",
        race_name,
    ]
    geocode = None
    for q in queries:
        geocode = geocode_place(q)
        if geocode:
            break

    if not geocode:
        print(f"Kein Geocode für '{race_name}' gefunden. Versuche Wiki-URL falls vorhanden...")
        wiki_url = race_series.get("url")
        if wiki_url:
            # try using the page title from the URL as a fallback query
            fallback_q = wiki_url.rsplit('/', 1)[-1].replace('_', ' ')
            geocode = geocode_place(fallback_q)

    if not geocode:
        print(f"Ort für Rennen '{race_name}' konnte nicht gefunden werden. Wetterabfrage abgebrochen.")
        return

    lat, lon, place_name = geocode
    date_str = date_dt.strftime("%Y-%m-%d")
    try:
        weather = fetch_weather_for_date(lat, lon, date_str)
    except requests.RequestException as e:
        print(f"Wetterdaten konnten nicht abgerufen werden für {place_name} am {date_str}: {e}")
        return

    daily = weather.get("daily", {})
    # Safely extract fields
    temp_max = daily.get("temperature_2m_max", [None])[0]
    temp_min = daily.get("temperature_2m_min", [None])[0]
    precip = daily.get("precipitation_sum", [None])[0]
    windgust = daily.get("windgusts_10m_max", [None])[0]
    weathercode = daily.get("weathercode", [None])[0]

    print(f"Ort: {place_name} (lat={lat:.4f}, lon={lon:.4f})")
    print(f"Datum: {date_str}")
    print(f"Temperatur max/min (°C): {temp_max} / {temp_min}")
    print(f"Niederschlag (mm): {precip}")
    print(f"Windböen max (m/s): {windgust}")
    print(f"Wettercode: {weathercode}")
    print("-" * 60)

# --- Verwendung mit vorhandenen Variablen aus dem Notebook ---
# first_race_date, last_race_date, first_race, last_race sind im Notebook definiert
get_weather_for_race(first_race, first_race_date)
get_weather_for_race(last_race, last_race_date)

Ort: Tim Tam Circuit, Farhill Downs, Indianapolis, Marion County, Indiana, 46237, United States of America (lat=39.6987, lon=-86.0669)
Datum: 1950-05-30
Temperatur max/min (°C): 25.9 / 16.8
Niederschlag (mm): 4.0
Windböen max (m/s): 32.0
Wettercode: 61
------------------------------------------------------------
Ort: Tim Tam Circuit, Farhill Downs, Indianapolis, Marion County, Indiana, 46237, United States of America (lat=39.6987, lon=-86.0669)
Datum: 1960-05-30
Temperatur max/min (°C): 23.3 / 16.1
Niederschlag (mm): 3.4
Windböen max (m/s): 50.0
Wettercode: 61
------------------------------------------------------------